<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>GAIDA</title>
</head>

<body>
    <div id="mainBox">
        <h1 id="mainHeading">GAIDA</h1>
        <h6 id="smallHeading">Upload a .wav file of any classical instrument to be transcribed </h6>
        <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
            <input type="file" id="myFile" name="myFile" accept="audio/*">
            <input type="submit" value="upload">
        </form>
        {% if request.path == url_for('upload_file') %}
        <div id="downloadDiv">
            <p>Download File</p>
            <a id="downloadBtn" href="http://localhost:5000/downloader"><i class="fas fa-download"></i></a>
        </div>
        {% endif %}

    </div>
</body>

</html>